body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #525252;
  overflow-y: auto; /* Add this */
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

header.banner {
  background-color: #000000;
  padding: 20px 0;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  width: 100px;
  opacity: 0;
  transform: translateY(-50px);
  animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  display: flex;
  gap: 30px;
  align-items: center;
  opacity: 0;
  transform: translateY(-50px);
  animation: slideDown 0.5s ease-out forwards;
  animation-delay: 0.3s;
}

.navbar a {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: revert;
  font-size: 20px;
  padding: 10px 15px;
  transition: transform 0.3s;
}

.navbar a:hover {
  transform: scale(1.1);
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #ffffff;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}

.hero {
  position: relative;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  overflow: auto;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 30px;
  border-radius: 15px;
  max-width: 80%;
  margin: 0 auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin-top: 130px;
}

.report-form {
  display: none; /* Hide forms initially */
}

.report-form.active {
  display: block; /* Show form when active */
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInput {
  width: 100%;
  max-width: 300px;
  max-height: 100px;
  padding: 15px 15px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  margin-bottom: 30px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #000000;
  color: #ffffff;
}

.userInput:focus {
  background-color: #000000;
  color: #ffffff;
  border-color: #e74c3c;
  box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
  outline: none;
}

/* Style for the button */
.next-button {
  background-color: red;
  color: white;
  padding: 10px 40px;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease-out;
  font-size: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensure relative positioning for absolute positioning */
}

/* Centering the contents of the span and adding space between the text and icon */
.next-button span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-button span a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  margin-right: 10px; /* Adjust the space between the text and the icon */
}

/* Style for the icon */
.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 2px;
}

/* Hover effect for the button */
.next-button:hover {
  background-color: red;
  box-shadow: 0 0 20px 5px rgba(236, 21, 60, 0.5);
}

@keyframes buttonZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.next-button:active {
  animation: buttonZoom 0.2s ease-in-out;
}

.menu-toggle {
  display: none;
  position: absolute;
  top: 5%;
  transform: translateY(-50%);
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
  transition: transform 0.3s ease;
}

.menu-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin: 6px auto;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-toggle.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar {
  display: flex;
  gap: 30px;
}

.navbar a {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: revert;
  font-size: 20px;
  padding: 10px 15px;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #ffffff;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}

@media (max-width: 992px) {
  .menu-toggle {
    display: block;
  }

  .menu-toggle span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin: 6px auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .navbar {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  .navbar.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateY(0%);
  }

  .menu-toggle.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar a {
    padding: 15px 0;
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: relative; /* Added relative positioning */
  }

  .navbar a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    background: #ffffff;
    transition: width 0.3s ease, left 0.3s ease; /* Added transition for underline */
    transform: translateX(-50%); /* Center the underline */
  }

  .navbar a:hover::after {
    width: 100%; /* Adjust width of underline on hover */
    left: 0; /* Adjust left position of underline on hover */
    transform: scaleX(1);
  }

  .navbar a:hover {
    background-color: #333333;
  }
}

@keyframes slideDownLetter {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero h1 span {
  display: inline-block;
  opacity: 0;
  animation: slideDownLetter 0.5s ease-out forwards;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 32px;
    white-space: normal;
    text-align: center;
  }
}

.pedo,
.server {
  display: none;
}

.button-container {
  display: flex;
  gap: 20px;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 60px; /* Increase the top margin for more spacing */
}

.centered-section {
  text-align: center; /* Center align the contents */
  margin-top: 20px; /* Add some top margin for spacing */
}

button.opt1,
button.opt2 {
  background-color: black;
  color: white;
  padding: 10px 40px;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.3s;
  width: 200px;
}

button.opt1:hover,
button.opt2:hover {
  transform: scale(1.1);
}

.x-button-container {
  position: absolute;
  margin-top: -300px;
  margin-left: -500px;
  z-index: 1200; /* Ensure it's above other content */
  display: none; /* Initially hidden */
}

.close-button {
  background: #aa0000;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10;
  position: relative;
  overflow: hidden; /* Ensure text overflow is hidden initially */
  transition: width 0.3s, margin-left 0.3s;
  margin-bottom: 420px;
  z-index: 1100;
}

.close-button:hover {
  width: 100px;
  border-radius: 30px;
  margin-left: 70px;
  content: "Back";
}

.back-text {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  top: 50%;
  left: 40px; /* Adjust left position to place "Back" correctly */
  transform: translateY(-50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.close-button:hover .back-text {
  opacity: 1; /* Show "Back" text on hover */
}

.main {
  white-space: normal;
}

@media (max-width: 600px) {
  .close-button {
    margin-top: 50px;
    left: 20px;
  }

  .close-button:hover {
    width: 80px;
    border-radius: 20px;
  }

  .back-text {
    font-size: 14px;
    left: 35px;
  }
}

@media (max-width: 560px) {
  .close-button {
    margin-top: 70px;
    left: 150%;
  }
}

@media (max-width: 500px) {
  .close-button {
    margin-top: 60px;
    left: 230%;
  }
}

@media (max-width: 450px) {
  .close-button {
    margin-top: 30px;
    left: 300%;
  }
}

@media (max-width: 390px) {
  .close-button {
    margin-top: 30px;
    left: 380%;
  }
}



.context-clues label {
    font-weight: bold;
    background-color: initial; /* No background color */
    font-size: 20px;
}

.context-clues textarea {
    resize: vertical;
}

/* Placeholder text color */
.context-clues input[type="url"]::placeholder,
.context-clues textarea::placeholder {
    color: #ffffff73; /* Sets placeholder text color to white */
    font-family: Arial, sans-serif; /* Sets placeholder font family */
    font-size: 16px; /* Sets placeholder font size */
    font-weight: normal; /* Sets placeholder font weight */
}

/* File upload container styling */
.file-upload-container {
    background-color: transparent; /* Sets background color to transparent */
    width: 90%;
    max-width: 34.37em;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
}

input[type="file"] {
    display: none;
}

.file-upload-container label[for="file-input"] {
    background-color: black; 
    color: white; 
    padding: 0.8rem; 
    border-radius: 1em;
    cursor: pointer; 
    text-align: center; 
}

#num-of-files {
    font-weight: bold; /* Sets text to bold */
    margin: 1.25em 0 1.87em 0;
    color: white; /* Sets text color to white for better readability */
}

ul#files-list {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    margin: 0; /* Reset margin for ul */
    display: flex;
    flex-direction: column; /* Stack list items vertically */
    align-items: center; /* Center items horizontally */
}

#files-list li {
    margin-bottom: 10px; /* Add space between list items */
    display: flex;
    flex-direction: column; /* Stack text vertically */
    align-items: center; /* Center text horizontally */
    width: 300px;
    border-radius: 10px;
    background-color: #ffffff3d;
    opacity: 0.8;
    padding: 10px;
    position: relative;
}

/* Remove button styling */
.remove-button {
    background-color: #e74c3c; /* Red background for the remove button */
    color: white; /* White text */
    border: none;
    padding: 5px 72px;
    border-radius: 5px;
    cursor: pointer; /* Pointer cursor on hover */
    position: absolute;
    bottom: 1px;
}

.remove-button:hover {
    background-color: #c0392b; /* Darker red on hover */
}

@media (max-width: 500px) {
    #files-list li {
        width: 175px;
    }
}

@media (max-width: 600px) {
  h1.pedo {
    text-align: center;
    margin: auto;
    margin-left: 50px;
  }
}

@media (max-width: 515px) {
  h1.pedo {
    text-align: center;
    margin: auto;
    margin-left: 20px;
  }
}

.home {
  background-color: #525252;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  transition: ease 0.3s;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 18px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
}

.home a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px; /* Space between icon and text */
  height: 10px;
}

.home:hover {
  transform: scale(1.1);
}

.featuring, .gemini {
  width: 100px;
  opacity: 0; /* Initial opacity */
  transform: translateY(-50px); /* Initial transform */
  animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.advertise{
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: -20px;
 
}